---
layout: skeleton
menu: main
menu-title: Accueil
order: 1
footer-large: true
---

<section id="main-cover-container" class="row">
    <div id="main-cover">
    </div>
    <div id="main-cover">
        <div id="main-title">
            <h1 class="bordered-letters anim-left-apparition ">Courtage</h1>
            <h1 class="anim-right-apparition ">Automobile</h1>
            <h4 class="">Sport & Vintage cars</h4>
        </div>
        <a onclick="scrollWindowHeight()" class="main-arrow-link ">En route</a>
    </div>
</section>

{% include section/section-vertical-band.html
title="Le concept"
description="Courtage et Conciergerie sur mesure de véhicules Sports et Vintage"
watermark="69"
watermarkHiddenOnMobile=true
%}

<section id="main-presentation" class="row anim-background-inversion-prev">
    <div class="col-12 cmp-backgrounded-image"
        style="background-image: url('/images/home/bg-courtage-porsche-911.webp');">
        <div class="cmp-full-width-image" style="background-image: url('/images/home/porsche-911-luxe-lyon.webp');">
        </div>
        <div id="main-presentation-description">
            <h2 class="bordered-letters anim-fadein-bottom-apparition">Prenez le volant,</h2>
            <h2 class="anim-fadein-bottom-apparition">AP SELECT s'occupe du reste</h2>
            <p class="anim-fadein-bottom-apparition">
                <span class="cmp-horizontal-line-secondary"></span>
                Des solutions de <strong>courtages et de conciergerie</strong> automobile sur mesure
                <span class="cmp-horizontal-line-secondary"></span>
                <strong>Un expert dédié</strong> vous accompagne dans la recherche et la sélection de votre véhicule
                <span class="cmp-horizontal-line-secondary"></span>
                L'art de conjuguer <strong>passion et investissement</strong>
            </p>
        </div>
    </div>
</section>

<section class="anim-background-inversion section-light" id="main-brokerage">
    <div class="row no-gutters">
        <div class="offset-md-4 col-md-4">
            <div>
                <span class="cmp-number-watermark-secondary anim-parallax">01</span>
                <h3 class="shadow-secondary">Votre courtage</h3>
            </div>
            <p id="main-brokerage-description" class="anim-fadein-apparition">
                Construire une relation de confiance et satisfaire pleinement vos attentes, c'est la promesse d'AP
                SELECT. Nous vous accompagnons dans l'ensemble de vos projets automobiles.
            </p>
        </div>
    </div>
    <div id="main-brokerage-types-container" class="row no-gutters">
        <div class="main-brokerage-type offset-md-1-5 col-md-3 anim-bottom-apparition">
            <img src="images/home/projet-automobile-passion.webp" />
            <span class="cmp-horizontal-line-secondary"></span>
            <h4>Passion</h4>
            <p>Une réponse pour vibrer au volant du véhicule de vos rêves.
            </p>
        </div>
        <div class="main-brokerage-type col-md-3 anim-bottom-apparition">
            <img src="images/home/achat-flotte-voiture-entreprise.webp" />
            <span class="cmp-horizontal-line-secondary"></span>
            <h4>Entreprise</h4>
            <p>Des services dédiés aux entreprises pour optimiser et amortir vos flottes collaborateurs et véhicules de direction.
            </p>
        </div>
        <div class="main-brokerage-type col-md-3 anim-bottom-apparition">
            <img src="images/home/courtage-patrimoine.webp" />
            <span class="cmp-horizontal-line-secondary"></span>
            <h4>Patrimoine</h4>
            <p>Des solutions d'investissement pour enrichir votre patrimoine automobile.</p>
        </div>
    </div>

    <div id="main-brokerage-types-container" class="row no-gutters">
        <div class="col-12">
            <a href="{% link brokerage.html %}" class="link link-arrowed shadow-secondary active">En savoir plus</a>
        </div>
    </div>
</section>

<section class="row flex-md-row-reverse" id="main-resale">
    <div class="col-md-6 section-col-backgrounded" id="main-resale-illustration"></div>

    {% capture services %}{% link services.html %}{% endcapture %}
    {% capture servicesConciergerie %}{% link services.html %}#services-concierge{% endcapture %}
    {% include section/section-col-detailed.html
    watermark="02"
    title="revendre son véhicule"
    text="AP SELECT vous aide à la mise en vente de votre véhicule.<br />Obtenez une estimation experte de sa valeur et
    bénéficiez d'un plan d'action simplifié et sécurisé en nous confiant la gestion complète de votre transaction."
    link="en savoir plus"
    url=services
    theme="dark"
    %}

</section>

<section class="row no-gutters" id="main-detailing">

    <div class="col-md-6" id="main-detailing-illustration">
        <img src="images/home/conciergerie-detailing-vintage-car.jpg" class="cmp-padding-col-img anim-left-apparition">
    </div>
    {% include section/section-col-detailed.html
    watermark="03"
    title="La conciergerie et le detailing"
    text="Offrez à votre véhicule des services de haute qualité en mécanique et cosmétique, ainsi que des soins de
    prestiges dédiés au confort de votre quotidien."
    link="en savoir plus"
    url=servicesConciergerie
    theme="light"
    %}
</section>