---
layout: skeleton
menu: main
menu-title: Accueil
order: 1
footer-large: true
---

<section id="main-cover-container" class="row">
    <div id="main-video-container">
        <video autoplay muted loop playsinline id="main-video">
            <source src="images/video.mp4" type="video/mp4">
          </video>
    </div>
    <div id="main-cover">
        <div id="main-title">
            <h1 class="bordered-letters anim-left-apparition">Courtage</h1>
            <h1 class="anim-right-apparition">Automobile</h1>
            <h4>Sport & Vintage cars</h4>
        </div>
        <a onclick="scrollWindowHeight()" class="main-arrow-link">En route</a>
    </div>
</section>

<section id="main-concept" class="row no-gutters flex-md-row-reverse">
    <div class="col-md-2"></div>
    <div class="col-md-5 align-self-center" id="main-concept-description" >
        <div>
            <span class="cmp-number-watermark anim-parallax">69.3</span>
            <h3>Le concept</h3>
        </div>
        <span class="cmp-horizontal-line"></span>
        <p>Courtage sur mesure et Conciergerie de véhicules Sport et Vintage</p>
    </div>
    <div class="col-md-3">
        {% include components/vertical-bands.html %}
    </div>
</section>

<section id="main-presentation" class="row">
    <div class="col-12 cmp-backgrounded-image" style="background-image: url('/images/home/bg-courtage-porsche-911.webp');">
        <div class="cmp-full-width-image"  style="background-image: url('/images/home/porsche-911-luxe-lyon.webp');"></div>
        <div id="main-presentation-description">
            <h2 class="bordered-letters anim-fadein-bottom-apparition">Prenez le volant,</h2>
            <h2 class="anim-fadein-bottom-apparition">AP SELect s'occupe du reste</h2>
            <p class="anim-fadein-bottom-apparition">
                <span class="cmp-horizontal-line-secondary"></span>
                Des solutions de <strong>courtages et conciergerie</strong> automobile sur mesure
                <span class="cmp-horizontal-line-secondary"></span>
                <strong>Un expert dédié</strong> vous accompagne dans la recherche et la sélection de votre véhicule
                <span class="cmp-horizontal-line-secondary"></span>
                Conjuguez <strong>passion et investissement</strong>
            </p>
        </div>
    </div>
</section>

<section class="anim-background-inversion section-light" id="main-brokerage">
    <div class="row no-gutters">
        <div class="offset-md-3 col-md-6">
            <div>
                <span class="cmp-number-watermark-secondary">01</span>
                <h3 class="shadow-secondary">Votre courtage</h3>
            </div>
            <p id="main-brokerage-description" class="anim-fadein-apparition">
                Quelle que soit la raison de votre projet d’achat, AP Select choisit soigneusement des véhicules chez des partenaires de confiance et vous accompagne tout au long de ce processus : Négociation, administration, livraison, etc.
            </p>
        </div>
    </div>
    <div id="main-brokerage-types-container" class="row no-gutters">
        <div class="main-brokerage-type offset-md-1-5 col-md-3">
            <img src="images/home/projet-automobile-passion.webp" class="anim-bottom-apparition"/>
            <span class="cmp-horizontal-line-secondary"></span>
            <h4>Passion</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="main-brokerage-type col-md-3">
            <img src="images/home/achat-flotte-voiture-entreprise.webp" class="anim-bottom-apparition"/>
            <span class="cmp-horizontal-line-secondary"></span>
            <h4>Entreprise</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="main-brokerage-type col-md-3">
            <img src="images/home/courtage-patrimoine.webp" class="anim-bottom-apparition"/>
            <span class="cmp-horizontal-line-secondary"></span>
            <h4>Patrimoine</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div id="main-brokerage-types-container" class="row no-gutters">
        <div class="col-12">
            <a class="link-arrowed shadow-secondary active">En savoir plus</a>
        </div>
    </div>
</section>

<section class="row flex-md-row-reverse" id="main-resale">
    <div class="col-md-6 section-col-backgrounded" id="main-resale-illustration">
        <img id="anim-car-translation" src="/images/home/revente-carte-staging.webp"/>
    </div>
    {% include section/section-col-detailed.html
        watermark="02"
        title="revendre son véhicule"
        text="Les avantages de passer par AP Select - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        link="en savoir plus"
        url="todo"
        theme="dark"
        %}

</section>

<section class="row no-gutters" id="main-detailing">

    <div class="col-md-6" id="main-detailing-illustration">
        <img src="images/home/conciergerie-detailing-vintage-car.webp" class="cmp-full-col-img anim-left-apparition">
    </div>
    {% include section/section-col-detailed.html
        watermark="03"
        title="La conciergerie et le detailing"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        link="en savoir plus"
        url="todo"
        theme="light"
        %}
</section>




