---
permalink: /vente/
layout: page
menu-title: Vente
menu: main
order: 4
banner-title: "VÉHICULES"
banner-title-bordered: true
banner-subtitle: "EN VENTE"
---

<script>
    function redirectTo(url) {
        location.href=url
    }
</script>

{% assign published_cars = site.cars | where: 'draft',false %}
{% assign sell_cars = published_cars | where: 'isSold',true %}
{% assign other_cars = published_cars | where: 'isSold',false %}
{% assign all_cars = other_cars | concat: sell_cars %}
{% for car in all_cars %}
{% capture theme %}{% cycle 'light', 'dark' %}{% endcapture %}
{% capture apparition %}{% cycle 'right', 'left' %}{% endcapture %}
{% capture text %}
{{ car.year }} • {{ car.kilometers }}km • {{ car.fuel | capitalize }}<br/>
<strong>{{ car.price }}€</strong>
{% endcapture %}
<section onClick="javascript:redirectTo('{{ car.url }}')" class="{% if theme == 'light' %}section-col-light flex-md-row-reverse{% endif %} row" id="section-sell">
    <div class="col-md-6 sell-photo-container anim-{{ apparition }}-apparition">
        <div class="{% if car.isSold == true %}sell-sold-card{% endif %}">
            <img src="{{ car.photos | first }}" class="cmp-full-col-img" alt="Photographie d'une {{ car.name }} vue de trois quarts face dans les locaux d'AP SELECT">
        </div>
    </div>

    {% include section/section-col-detailed.html
        title=car.name
        text=text
        link="en savoir plus"
        url=car.url
        theme=theme
        compact=true
        %}

</section>
{% endfor %}