---
permalink: /services #TODO
layout: page
menu: main
menu-title: Services
order: 4
banner-title: "AP SELECT"
banner-subtitle: "SERVICES"
banner-image: services/services-sport-cars.webp
---

{% capture contact %}{% link contact.html %}{% endcapture %}
<section class="section-col-light row" id="services-help">
    <div class="col-md-6" id="services-help-illustration">
        <img src="images/services/aide-vente-vehicule.jpg" class="cmp-padding-col-img anim-left-apparition">
    </div>

    {% include section/section-col-detailed.html
        title="Aide à la vente"
        text="L'équipe AP SELECT prend en main l'intégralité des étapes de la vente de votre véhicule.<br/><br/>L'estimation, la mise en annonce, répondre aux potentiels acheteurs et la gestion de l'administratif une fois votre véhicule vendu."
        link="contactez-nous"
        url=contact
        theme="light"
        %}

</section>

<section class="row" id="services-concierge">
    {% include section/section-col-detailed.html
        title="conciergerie"
        text="AP SELECT assure la gestion logistique de votre véhicule.<br/><br/>C'est une prise en charge en réponse à vos besoins du quotidien."
        link="contactez-nous"
        url=contact
        theme="dark"
        %}
    <div class="col-md-6" id="services-concierge-illustration">
        <img src="images/services/conciergerie-vintage-cars.webp" class="cmp-padding-col-img anim-right-apparition">
    </div>
</section>

<section class="section-col-light row" id="services-detailing">

    <div class="col-md-6" id="services-detailing-illustration">
        <img src="images/services/detailing-voiture-luxe.webp" class="cmp-full-col-img anim-left-apparition">
    </div>

    {% include section/section-col-detailed.html
        title="detailing"
        text="Nous proposons un service esthétique de prestige, un soin d'exception adapté à votre véhicule.<br/><br/>L'art de la préparation cosmétique offre une complète mise en beauté et une protection irréprochable à votre automobile."
        link="contactez-nous"
        url=contact
        theme="light"
        %}
    
</section>

