---
permalink: /services #TODO
layout: page
menu: main
menu-title: Services
order: 4
banner-title: "AP SELECT"
banner-subtitle: "SERVICES"
banner-image: services/services-sport-cars.webp
---

{% capture contact %}{% link contact.html %}{% endcapture %}
<section class="section-col-light row" id="services-help">
    {% include section/section-col-detailed.html
        title="Aide à la vente"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        link="contactez-nous"
        url=contact
        theme="light"
        %}

    <div class="col-md-6" id="services-help-illustration">
        <img src="images/services/conciergerie-vintage-cars.webp" class="cmp-padding-col-img anim-right-apparition">
    </div>

</section>

<section class="row" id="services-concierge">

    <div class="col-md-6" id="services-concierge-illustration">
        <img src="images/services/conciergerie-vintage-cars.webp" class="cmp-padding-col-img anim-left-apparition">
    </div>

    {% include section/section-col-detailed.html
        title="conciergerie"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        link="contactez-nous"
        url=contact
        theme="dark"
        %}
</section>

<section class="section-col-light row" id="services-detailing">
    {% include section/section-col-detailed.html
        title="detailing"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        link="contactez-nous"
        url=contact
        theme="light"
        %}
    <div class="col-md-6" id="services-detailing-illustration">
        <img src="images/services/detailing-voiture-luxe.webp" class="cmp-full-col-img anim-right-apparition">
    </div>
    
</section>

