
<section id="section-footer-large">
    <div id="section-footer-container">
        <h3 class="shadow-secondary">Prenez le volant, AP Select s’occupe du reste</h3>
        <div id="footer-contact-container">
            <div id="footer-contact-coordinates">
                <a id="footer-phone-link" href="tel:+33771806578">07 71 80 65 78</a><br/>
                <a id="footer-mail-link" href="mailto:contact@apselect.fr">contact@apselect.fr</a>
                <p>
                    Contactez-nous par téléphone ou email pour toute demande.
                </p>
            </div>
            <div id="footer-contact-button">
                <a href="todo" class="button button-arrowed button-accented">Contact</a>
            </div>
        </div>
    </div>
</section>
<section id="section-footer-mini">

</section>

<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>