{% if page.footer-large == true %}
<section id="section-footer-large">
    <div id="section-footer-container">
        <h3 class="shadow-reverse">Prenez le volant, AP Select s’occupe du reste</h3>
        <div id="footer-contact-container">
            <div id="footer-contact-coordinates-container">
                <div id="footer-contact-lines">
                    <span id="footer-phone-line"></span>
                    <span id="footer-mail-line"></span>
                </div>
                <div id="footer-contact-coordinates">
                    <a id="footer-phone-link" href="tel:+33771806578">07 71 80 65 78</a>
                    <a id="footer-mail-link" href="mailto:contact@apselect.fr">contact@apselect.fr</a>
                </div>
            </div>
            <div id="footer-contact-button">
                <a href="todo" class="button button-arrowed button-accented">Contact</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section id="section-footer-small">
    <span id="footer-copyright">
        <span>© 2021 <strong>AP SELECT</strong></span>
        <span><img src="images/arrow-min.png">&nbsp;Designed by <a href="https://mz-design.fr/" target="_blank""><strong>MZ Studio</strong></a></span>
    </span>
    <div id="footer-logo">
        <img class="img-fluid" src="{{ '/images/apselect_logo.svg' | prepend: site.baseurl }}" width="185"/><br/> 
    </div>
    <div id="footer-links">
        <div id="footer-links-pages">
            <a href="todo"><img src="images/arrow-min.png">&nbsp;Mentions Légales</a>
            <a href="todo"><img src="images/arrow-min.png">&nbsp;Contact</a>
        </div>
        <div id="footer-social-links">
            <a class="footer-social-link facebook" href="http://www.facebook.com/AutomobilePassionSelection" target="_blank"> <i class="fa fa-facebook"></i> </a>&nbsp;
            <a class="footer-social-link instagram" href="https://www.instagram.com/ap.select/" target="_blank"> <i class="fa fa-instagram"></i> </a>&nbsp;
            <a class="footer-social-link linkedin" href="https://www.linkedin.com/company/ap-select-courtage/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
        </div>
    </div>
</section>

<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>