{% if page.footer-large == true %}
<section id="section-footer-large">
    <div id="section-footer-container">
        <h3 class="shadow-reverse">Prenez le volant, AP SELECT s’occupe du reste</h3>
        <div id="footer-contact-container">
            <div id="footer-contact-coordinates-container">
                <div id="footer-contact-lines">
                    <span id="footer-phone-line"></span>
                    <span id="footer-mail-line"></span>
                </div>
                <div id="footer-contact-coordinates">
                    <a id="footer-mail-link" href="mailto:contact@apselect.fr" class="inline-link">contact@apselect.fr</a>
                </div>
            </div>
            <div id="footer-contact-button">
                <a href="{% link contact.html %}" class="button button-arrowed button-accented">Contact</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section id="section-footer-small">
    <span id="footer-copyright">
        <span>© 2021 <strong>AP SELECT</strong></span>
        <span class="footer-text-with-arrow">Designed by <a href="https://mz-studio.fr/" target="_blank""><strong>MZ Studio</strong></a></span>
    </span>
    <div id="footer-logo">
        <a href="{% link index.html %}">
            <img class="img-fluid" src="{{ '/images/apselect_logo.svg' | prepend: site.baseurl }}" width="185" height="59" alt="Logo d'AP SELECT"/>
        </a> 
    </div>
    <div id="footer-links">
        <div id="footer-links-pages">
            <a class="footer-text-with-arrow" href="{% link legal-mentions.html %}">Mentions Légales</a>
            <a class="footer-text-with-arrow" href="{% link contact.html %}">Contact</a>
        </div>
        <div id="footer-social-links">
            <a class="footer-social-link facebook" href="http://www.facebook.com/AutomobilePassionSelection" target="_blank"> <i class="fa fa-facebook"></i> </a>&nbsp;
            <a class="footer-social-link instagram" href="https://www.instagram.com/ap.select/" target="_blank"> <i class="fa fa-instagram"></i> </a>&nbsp;
            <a class="footer-social-link linkedin" href="https://www.linkedin.com/company/ap-select-courtage/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
        </div>
    </div>
</section>

<script src="{{ '/js/main.min.js?t=' | prepend: site.baseurl }}{{ site.time | date: '%y-%m-%d' }}"></script>