<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta property="og:site_name" content="{{ site.title | escape }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="google-site-verification" content="JrnmGXQZtaFLo-ctTPOai8DNXqQZqh9lFT4DpAjWoqE" />
    <!-- SEO : Title, description & canonical url -->
    <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | escape }} | {% endif %}{{ site.title | escape }}"/>
    <title>{% if page.title %}{{ page.title | strip_html | escape }} | {% endif %}{{ site.title | escape }}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    
    <link rel="shortcut icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}" />

    <!-- CSS stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ '/css/main.css?t=' | prepend: site.baseurl }}{{ site.time | date: '%y-%m-%d' }}"/>
    
    <!-- JS -->
    <script src="https://use.fontawesome.com/967448ca0d.js"></script>
    <!-- No need for the moment <script src="{{ '/js/jquery-3.6.0.min.js' | prepend: site.baseurl }}"></script> -->
    <script src="{{ '/js/scrollreveal.min.js' | prepend: site.baseurl }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script> -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139459528-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139459528-1');
    </script>
</head>
