<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
    <!-- SEO : Title, description & canonical url -->
    <title>{% if page.title %}{{ page.title | strip_html | escape }} | {% endif %}{{ site.title | escape }}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <script src="https://use.fontawesome.com/967448ca0d.js"></script>
    {% for c in page.css %}
        <link rel="stylesheet" href="{{ c | prepend: '/css' | prepend: site.baseurl }}"/>
    {% endfor %}
    <script src="{{ '/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}"></script>
    {% for js in page.javascripts %}
    <script src="{{ js | prepend: '/js' | prepend: site.baseurl }}"></script>
    {% endfor %}
    <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>


    <script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />

</head>
