.button {
    padding: 20px 64px 20px 100px;
    line-height: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .button.button-arrowed:hover::after {
    left: 25px;
  }
  
  .button.button-arrowed::after {
    content: "";
    width: 35px;
    height: 12px;
    display: inline-block;
    position: relative;
    left: 10px;
    background-image: url("/images/arrow-white.png");
    transition: all 0.3s ease 0s;
  }

  .button.button-accented {
    background-color: $color-accent-main;
  }

  .button.button-secondary {
    border: solid 2px $color-content-reverse;
  }

  .button.button-secondary:hover {
    background-color: $color-accent-main;
    border-color: transparent;
  }

  a.link-arrowed {
    @include text-style-subhead;
  }

  a.link-arrowed:hover::after {
    left: 25px;
  }
  
  a.link-arrowed::after {
    content: "";
    width: 35px;
    height: 8px;
    display: inline-block;
    position: relative;
    left: 10px;
    background-image: url("/images/arrow-wheat.png");
    transition: all 0.3s ease 0s;
  }
  
  .bordered-letters {
    -webkit-text-stroke: 1px $color-content-reverse;
    color: transparent;
  }

  .cmp-vertical-bands {
      display: flex;
      height: 100%;
      z-index: 1;
  }

  .cmp-vertical-band {
    display: inline-block;
    height: 100%;
    background-color: $color-accent-main;
    width: 105px;
    margin-right: 66px;
}

.cmp-horizontal-line {
    width: 44px;
    height: 4px;
    display: block;
    background-color: $color-accent-main;
    margin-top: 36px;
}

.cmp-horizontal-line-secondary {
    width: 22px;
    height: 2px;
    display: block;
    background-color: $color-accent-secondary;
    margin: 13px auto;
}

.cmp-number-watermark,
.cmp-number-watermark-secondary {
    position: absolute;
    font-size: 192px;
    font-weight: bold;
    opacity: 0.3;
    top: -100px;
    z-index: 10;
    @extend .bordered-letters;
}

.cmp-number-watermark-secondary {
  -webkit-text-stroke: 1px $color-content-light;
}

.cmp-backgrounded-image {
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.shadow-accented,
.shadow-secondary,
.shadow-reverse {
  background-position: 0px 100%;
  background-repeat: repeat-x;
  background-size: 100% 50%;
  transition: all 0.3 ease-in-out;
}

.shadow-accented:not(a),
a.shadow-accented.active, 
a.shadow-accented:hover {
  background-image: linear-gradient($color-accent-main, $color-accent-main);
}

.shadow-secondary:not(a),
a.shadow-secondary.active,
a.shadow-secondary:hover {
  background-image: linear-gradient($color-accent-secondary-alpha, $color-accent-secondary-alpha);
}

.shadow-reverse:not(a),
a.shadow-reverse.active,
a.shadow-reverse:hover {
  background-image: linear-gradient($color-content-reverse-aplha, $color-content-reverse-aplha);
}