.third-split-element {
  background-position: top;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  height: 500px;
  border-right: solid $dark-gray 1px;
}

.third-split-element .black_filter {
  display: flex;
  align-items: center;
}

.third-split-content h4 {
  font-family: $font-family;
  color: white;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 0px 10px;
}

.third-split-content {
  flex-direction: column;
}

.third-split-content p {
  color: white;
  font-size: 16px;
  overflow: hidden;
  display: none;
  margin: 0 20px;
  padding-top: 0;
  text-align: left;
}

@include media-breakpoint-up(sm) {
  .third-split-element {
    height: 600px !important;
  }
}

