footer p{
  padding-top: 20px;
  text-align: center;
  color: $light-gray;
  font-size: 11px;
}

#socialicons {
  padding: 0;
  display: block;
}


#socialicons {
  text-align: center;
  margin-top: 1rem;
}

#socialicons li {
  list-style-type: none;
  display: inline-block;
  margin: 8px 4px 0 4px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  background-color: $main-color;
  color: white;
}

#socialicons li:hover {
  background-color: $dark-gray;
}

#socialicons li i {
  font-size: 20px;
  color: white;
  line-height: 30px;
  display: block;
}