// GLOBAL STYLES

html, body {
  height: 100%;
  font-family: $font-family;
  color: $light-gray;
}

html {
  background: url("#{$baseurl}/img/garde_animaux_lyon_chat_chien.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-weight: $light-weight;
  font-style: normal;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-gray;
  letter-spacing: normal;
  text-align: center;
}

h1{
  font-size: $font-size-big-title;
  color: white;
  text-transform: uppercase;
}

h2{
  font-size: $font-size-subtitle;
  color: white;
  text-transform: uppercase;
}

h3{
  font-size: $font-size-large-title;
}

h4{
  font-size: $font-size-large-title;
}

@include media-breakpoint-up(md) {
  h1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

h1::after{
  border-bottom: 1px dashed #bbb;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -31.5px;
  position: absolute;
  width: 63px;
  margin-bottom: 0px;
  bottom: 0;
}

.underlined:after {

}

a {
  color: $main-color;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover, a:active {
  color: $dark-gray;
  text-decoration: none;
}

a.button{
  display: inline-block;
  background-color: $main-color;
  padding: 3px 15px;
  color: white;
  font-size: 14px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a.button:hover{
  background-color: black;
}

strong{
  font-weight: $bold-weight;
}

span {
  line-height: normal;
}
p{
  font-size: $font-size-body;
  line-height: normal;
  text-align: center;
}
li{
  line-height: normal;
}

p.sub-content {
  font-size: 13px;
}

.block-background {
  background-color: rgba(250,250,250,0.95);
  //border: solid 1px $light-gray;
  //box-shadow: 0px 0px 2px rgba(30, 70, 70, 0.23);
}

@include media-breakpoint-up(md) {
  .container section {
    margin-left: 20px;
  }
}

.underlined::after {
  content: "";
  width: 50%;
  border-top: 1px solid $extra-light-gray;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  display: block;
}

footer{
  padding-top: 40px;
}

section{
}

.btn-default{
  background-color: $main-color;
  color: white;
  border-color: #ccc;
}

.btn:hover{
  color: $light-gray;
  background-color: #fff;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.thumbnail a{
  display: inline-block;
}


.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

cite::after, cite::before{
  content: "\""
}

cite{
  display: block;
  font-style: italic;
  font-weight: $light-weight;
  font-size: 14px;
  margin-bottom: 10px;
}

.black_filter {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 70%);
}