// GLOBAL STYLES
html, body {
  font-family: $font-family;
  color: $color-content-reverse;
  @include text-style-body;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 38px;
}

body {
  background-color: black;
}

h1 {
  @include text-style-title-1;
}

h2 {
  @include text-style-title-2;
}

h3 {
  @include text-style-title-3;
}

h4 {
  @include text-style-title-4;
}

// @include media-breakpoint-down(md) {
//   h3 {
//     font-size: $font-size-large-title-sm;
//   }

//   h4 {
//     font-size: $font-size-large-title-sm;
//   }
// }

// @include media-breakpoint-up(md) {
//   h1 {
//     padding-left: 40px;
//     padding-right: 40px;
//   }
// }

strong {
  font-weight: $font-weight-bold;
}

img {
  max-width: 100%;
}

.button {
  padding: 20px 64px 20px 100px;
  line-height: 15px;
  border: solid 2px $color-content-reverse;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button.button-arrowed:hover::after {
  left: 25px;
}

.button.button-arrowed:hover {
  background-color: $color-accent-main;
  border-color: transparent;
}

.button.button-arrowed::after {
  content: "";
  width: 35px;
  height: 12px;
  display: inline-block;
  position: relative;
  left: 10px;
  background-image: url("/images/arrow-white.png");
  transition: all 0.3s ease 0s;
}

.bordered-letters {
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}