// Menu styling

#logo {
  width: 100%;
  text-align: center;
  border-bottom: solid $light-gray 1px;
}

#logo img{
  max-width: 100%;
  margin: 20px 0px;
}

header {
  position: fixed;
  height: 100px;
  width: 100%
}

nav li {
  list-style-type: none;
  text-align: center;
  color: $dark-gray;
}

nav li a, nav li a:hover, nav li a:active, nav li a:focus {
  color: inherit;
  font-size: $font-size-menu;
  font-weight: $bold-weight;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

nav a.active {
  color: white;
  background-color: $main-color;
}

nav li:hover, nav li:focus {
  color: white;
  background-color: $main-color;
}

nav li.active + li::before {
  border: none;
}

#socialicons{
  padding: 0;
  display: inline-block;
}

#social {
  text-align: center;
  border: solid $light-gray 1px;
  border-right-width: 0;
  border-left-width: 0;
}

#social ul {
  text-align: center;
  margin-top: 1rem;
}

#social ul li {
  list-style-type: none;
  display: inline-block;
  margin: 8px 4px 0 4px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  background-color: #aaa;
  color: white;
}

#social ul li:hover {
  background-color: $dark-gray;
}

#social ul li i {
  font-size: 20px;
  color: white;
  line-height: 30px;
}