.section-light, .section-col-light {
    color: $color-content-dark;
}

.section-light p, .section-col-light p {
    color: $color-content-medium;
}

.section-col-backgrounded {
    background-color: black;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
    display: flex;
}

.section-col-detailed {
    display: flex;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding-bottom: 100px;
    }
}

.section-col-dark {
    background-color: black;
}

.section-col-light {
    background-color: white;
}

.section-col-detailed p {
    margin: 80px 0px 60px 0px;
}

.section-col-detailed h3 {
    display: inline;
}

.section-col-detailed-container {
    align-self: center;
    padding: 0px 15% 0px 15%;
    position: relative;
    @include media-breakpoint-down(sm) {
        margin-top: 120px;
        padding: 0px 5% 0px 5%;
    }
}

#section-banner {
    padding-top: 105px; // For header
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section-banner .cmp-full-width-image  {
    z-index: 10;
    position: relative;
}

#section-banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 370px;
    @include media-breakpoint-down(sm) {
        height: 220px;
    }
}

.section-behind-banner {
    position: relative;
    top: -580px;
    padding-top: 580px;    
    margin-bottom: -580px;
    @include media-breakpoint-down(sm) {
        top: -50px;
        padding-top: 50px;
        margin-bottom: -50px;
    }
}