// Variables
$main-color: #05386B; //#fb606c;//#a4ca44;
$dark-gray: #26282a;
$light-gray: #707274;
$extra-light-gray: #bbb;
$border-gray: #ddd;

$font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
$font-family-secondary: Helvetica, Arial, sans-serif;
$font-family-ternary: "Montserrat", sans-serif;

$light-weight: 300;
$normal-weight: 400;
$bold-weight: 700;

$font-size-menu: 18px;
$font-size-smaller: 18px;
$font-size-title: 24px;
$font-size-body: 24px;
$font-size-big-title: 100px;
$font-size-subtitle: 36px;
$font-size-subtitle-smaller: 32px;

$font-size-large-title: 90px;
$font-size-large-title-sm: 60px;

$arrow-height: 300px;

$header-size: 61px;
$header-padding: 5px;
$header-content: 51px;

$background-menu: #cbcbcb;
$background-section-colors: #FFF, #FEFEFE, #EDECED, #FFFFFF, #2F3537, #EBECEC, #FEFEFE, #EDECED, #FFFFFF;