// Variables
$main-color: #fb606c;//#a4ca44;
$dark-gray: #26282a;
$light-gray: #707274;
$extra-light-gray: #bbb;
$border-gray: #ddd;

$font-family: "Roboto", Helvetica, Arial, sans-serif;
$font-family-secondary: Helvetica, Arial, sans-serif;

$light-weight: 300;
$normal-weight: 400;
$bold-weight: 700;

$font-size-menu: 18px;
$font-size-title: 24px;
$font-size-body: 14px;