// Variables
$color-accent-main: #1426AE;
$color-accent-secondary: #c7b9a2;
$color-accent-secondary-alpha: #c7b9a231;

$color-content-main: #636262;
$color-content-medium: #464646;
$color-content-light: #7f7f7f;
$color-content-dark: #000;

$color-content-reverse: #fff;
$color-content-reverse-light: #e3e4e4;

$font-family: "Montserrat", sans-serif;
$font-family-secondary: "Oswald", sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-title-1: 90px;
$font-size-title-2: 48px;
$font-size-title-3: 36px;
$font-size-body-highlighted: 20px;
$font-size-body: 16px;
$font-size-subhead: 15px;

@mixin text-style-title-1 {
    font-size: $font-size-title-1;
    font-weight: $font-weight-bold;
    font-family: $font-family-secondary;
    letter-spacing: 18px;
    text-transform: uppercase;
}

@mixin text-style-title-2 {
    font-size: $font-size-title-2;
    font-weight: $font-weight-bold;
    font-family: $font-family-secondary;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@mixin text-style-title-3 {
    font-size: $font-size-title-3;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin text-style-title-4 {
    font-size: $font-size-body;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin text-style-subhead {
    font-size: $font-size-subhead;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin text-style-body {
    font-size: $font-size-body;
    font-weight: $font-weight-normal;
}
