#brokerage-intro-container {
    margin: auto;
    text-align: center;
    margin-bottom: 106px;
}

#brokerage-intro-container p {
    padding: 125px 0px 180px 0px;
    max-width: 500px;
    margin: auto;
    @include media-breakpoint-down(sm) {
        padding: 65px 0px 90px 0px;
    }
}

#brokerage-steps-container {
    display: flex;
    align-items: baseline;
    overflow: scroll;
    flex-wrap: nowrap;
    margin: 0px 5% 120px 5%;
    @include media-breakpoint-down(sm) {
        margin: 0px 5% 60px 5%;
    }
}

.brokerage-step-container {
    min-width: min(360px, 85%);
    display: flex;
    flex-direction: column;
}

.brokerage-step-container .bordered-letters {
    margin: 0px auto 60px;
    font-size: 70px;
    -webkit-text-stroke: 2px $color-accent-main;
    font-weight: bold;
    letter-spacing: 8px;

}

.brokerage-step-content {
    padding: 0px 10%;
}

.brokerage-step-content h4 {
    line-height: 40px;
    margin-bottom: 40px;
}

.brokerage-step-container:not(:last-child) .brokerage-step-content {
    border-right: solid 2px $color-accent-main;
}

#brokerage-contact-container a {
    color: $color-content-reverse;
    margin: 90px auto 200px auto;
    @include media-breakpoint-down(sm) {
        margin: 45px auto 100px auto;
    }
}

#brokerage-punch-line {
    background-image: url('/images/brokerage/sigle-bmw-pluie.webp');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brokerage-punch-line h2 {
    margin: 0px 5%;
}

#brokerage-investment {
    padding: 150px 0px;
}

#brokerage-steps-container::after {
    content: "";
    display: block;
    width: 100%
}

#brokerage-steps-container::-webkit-scrollbar {
    display: none;
}

#brokerage-scrollbar {
    width: 100%;
    background-image: linear-gradient($color-accent-main, $color-accent-main);
    background-position: 50%;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0 5%;
}

#brokerage-scrollbar-thumb {
    width: 20%;
    background-color: $color-accent-main;
    height: 10px;
    position: relative;
    transition: all 0.1s ease;
    margin-top: 3px;
}