#section-sell .sell-photo-container {
    padding: 30px;
}

.car-box h4, .car-box p {
    text-align: center;
}

.car-box img {
    object-fit: cover;
    width: 100%;
}

#car-main-cover {
    height: 500px;
}

#car-property-container {
    display: flex;
}

.car-property-name {

}

.car-property-separator {
    background-color: red;
    height: 1px;
    flex-grow: 2;
}

.car-property-value {
    
}