#section-sell .sell-photo-container {
    padding: 30px;
}

.car-box h4, .car-box p {
    text-align: center;
}

.car-box img {
    object-fit: cover;
    width: 100%;
}

#car-main-cover {
    height: 500px;
}

.car-property-container {
    display: flex;
    line-height: inherit;
}

.car-property-name {

}

.car-property-separator {
    background-color: $color-accent-secondary;
    height: 1px;
    flex-grow: 2;
    margin: 14px 10px 0px 10px;
}

.car-property-value {
    
}

#gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.car-price-container {
    align-items: center;
}