#section-sell .sell-photo-container {
    padding: 30px;
}

.car-box h4, .car-box p {
    text-align: center;
}

.car-box img {
    object-fit: cover;
    width: 100%;
}

#car-main-cover {
    cursor: pointer;
}

#car-section {
    background-color: white;
    position: relative;
}

.car-property-container {
    display: flex;
    line-height: inherit;
}

#car-info-container {
    margin: 20px 0px;
}

#car-price-container {
    display: flex;
    align-items: center;
}

#car-price-container p {
    flex-grow: 1;
}

.car-property-separator {
    background-color: $color-accent-secondary;
    height: 1px;
    flex-grow: 2;
    margin: 8px 10px 0px 10px;
}

#car-section h3 {
    text-align: center;
}

.gallery-photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100%;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}

.gallery-photo:hover {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}

.car-price-container {
    align-items: center;
}

#car-bottom-contact-button {
    margin: 20px auto 40px auto;
}

#car-name-container {
    text-align: center;
    margin: 20px 0px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    row-gap: 10px;
    margin-bottom: 30px;
}

.gallery-photo-container {
    width: calc(100% / 3 - 5px);

    @include media-breakpoint-down(sm) {
        width: calc(50% - 5px);
    }
    
}