#contact-menu {
    min-height: 166px;
}

#contact-form-section {
    padding: 120px 0;
    @include media-breakpoint-down(sm) {
        padding: 60px 0;
    }
    display: flex;
    flex-direction: column;
}

#contact-form-section h3 {
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    margin: auto;
}

#contact-form input,
#contact-form label {
    flex: auto;
    margin-top: 52px;
}

#contact-form label {
    margin-bottom: 5px;
}

#contact-form a {
    align-self: flex-end;
}

#contact-coordinates .cmp-number-watermark {
    margin-top: -150px;
}

#contact-coordinates #section-vertical-band-description {
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
        margin: 0;
    }
}