#courtage-description p {
  border-right: solid 1px #bbb;
  border-left: solid 1px #bbb;
  margin: 60px 0px;
  padding: 50px;
  text-align: left;

  @include media-breakpoint-down(lg) {
    border: none;
    margin: 30px 0px;
    padding: 10px;
  }
}

#courtage-main-car {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-direction: column-reverse;
}

#courtage-main-car-overlay {
  text-align: left;
  padding: 15px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#courtage-main-car-overlay h5, #courtage-main-car-overlay p {
  color: white;
  text-align: left;
  text-shadow: 0px 0px 1px #000;
  margin: 0;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-smaller
  }
}

#courtage-contact {
  text-align: center;
  padding: 90px 0px;
  background: url("/img/clefs-peugeot-noires.jpg");
  background-size: cover;
  background-position: center;
}

#courtage-contact .btn {
  box-shadow: 0px 4px 6px black;
}

#courtage-car-list {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  @include media-breakpoint-down(lg) {
    justify-content: space-evenly;
  }
  @include media-breakpoint-up(lg) {
    justify-content: center;
  }
  background-color: rgba(0, 0, 0, 0.7);
}


.courtage-car-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center;
  height: 72px;
  width: 100px;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 4px;
  @include media-breakpoint-up(lg) {
    margin: 4px 10px 0px 10px;
  }
}

.courtage-car-selected {
  border: solid 2px white !important;
}

.courtage-car-cell a {
  display: block;
  width: 100%;
  height: 100%;
}

#courtage-steps-container {
  padding: 20px 0px 60px 0px;
}

#courtage-steps-container span {
  font-size: $font-size-number-icon;
  color: $black;
  display: block;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  margin: 5px 0px;
  text-align: center;
}

#courtage-steps-container p {
  margin: 0px 10px;
  font-size: $font-size-smaller;
}