#courtage-description p {
  text-align: left;
}

#courtage-presentation {

}

#courtage-contact {
  text-align: center;
  padding: 90px;
  background: url("/img/clefs-peugeot-noires.jpg");
  background-size: cover;
}
