#main-cover {
  background: url("/img/original/photo page 1 (10).jpg"); //8: fond noir
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

#main-cover h1 {
  order: 1;
}