// Menu styling

header {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0px;
  padding: 26px 45px 0px 45px;
  display: flex;
  align-items: center;
  @include text-style-subhead;
}

nav, #right-menu {
  display: flex;
  flex: 1;
  min-width: -webkit-min-content; /* Workaround to Chrome bug */
}

#right-menu {
  justify-content: flex-end;
}

#logo {
  text-align: center;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 40px;
  list-style-type: none;
}

#right-menu {
  display: flex;
}

#right-menu ul {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

#right-menu ul li {
  list-style-type: none;
  margin-right: 24px;
}

#right-menu a {
  align-self: center;
}

// nav li:last-child {
//   margin-right: 0px;
// }

// nav li a, nav li a:hover, nav li a:active, nav li a:focus {
//   color: inherit;
//   font-size: $font-size-menu;
//   font-weight: $light-weight;
//   font-family: $font-family-secondary;
//   text-transform: uppercase;
//   text-decoration: none;
//   width: 100%;
//   display: inline-block;
//   padding: 15px 20px;
// }

// nav a.active {
//   color: white;
//   background-color: $main-color;
// }

// nav li:hover a, nav li:focus a {
//   color: white;
// }

// nav li:hover, nav li:focus {
//   background-color: $main-color;
// }

// nav li.active + li::before {
//   border: none;
// }

// #logo img {
//   padding: 15px 15px 15px 30px;
// }

// @include media-breakpoint-down(sm) {
//   header img {
//     margin: auto;
//   }

//   header {
//     padding: $header-padding;
//     text-align: center;
//   }

//   #header-slider {
//     background-color: rgb(235, 235, 235) !important;
//   }

//   nav.col-auto.closed {
//     height: $header-content !important;
//   }

//   nav.closed li::before {
//     width: 0px;
//   }

//   nav.col-auto {
//     margin-top: 0px;
//     padding: 0px;
//     height: $header-content * 4;
//   }

//   nav li {
//     display: block;
//     margin-right: 0px;
//   }

//   #logo img {
//     padding: 0px;
//     height: $header-content;
//   }
// }
