<div class="col-md-6 section-col-detailed {% if include.theme == "dark" %}section-col-dark{% else %}section-col-light{% endif %}">
    <div class="section-col-detailed-container">
        <span class="{% if include.theme == "dark" %}cmp-number-watermark{% else %}cmp-number-watermark-secondary{% endif %}">{{ include.watermark }}</span>
        <h3 class="shadow-secondary">{{ include.title }}</h3>
        <p>
            {{ include.text }}
        </p>

        <a href="{{ include.url }}" class="{% if include.theme == "dark" %}button button-arrowed button-accented{% else %}link-arrowed shadow-secondary active{% endif %}">{{ include.link }}</a>
    </div>
</div>