<section id="section-vertical-band" class="row no-gutters flex-md-row-reverse">
    <div class="col-md-2"></div>
    <div class="col-md-5 align-self-center" id="section-vertical-band-description" >
        <div>
            <span class="cmp-number-watermark anim-parallax">{{ include.watermark }}</span>
            <h3>{{ include.title }}</h3>
        </div>
        <span class="cmp-horizontal-line"></span>
        <p>{{ include.description }}</p>
    </div>
    <div class="col-md-3">
        {% include components/vertical-bands.html %}
    </div>
</section>
