---
layout: default
---

{% for post in site.posts %}

    {% assign mod = forloop.index | modulo: 2 %}
    {% assign isOdd = forloop.length | modulo: 2 %}
    {% if mod == 1 %}
        <div class="row article-row">
    {% endif %}
    <div class="col-xl-6 article-box">

        <div class="vertical-content article-box-content">
            <h5>{{ post.title }}</h5>
            <span class="article-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.date | date: "%d / %m / %Y" }}</span><br/>
            <img src="{{ site.baseurl }}/img/articles/{{ post.image }}" class="article-box-image"/>
            <p>{{ post.excerpt | strip_html }}</p>
            <br/>
            <a class="button" href="{{ post.url | prepend: site.baseurl }}">LIRE LA SUITE</a>
        </div>
    </div>
    {% if mod == 0 %}
        </div>
    {% endif %}
{% endfor %}
{% if isOdd == 1 %}
</div>
{% endif %}

