---
layout: default
---

<div class="row">
    <div class="col-md-12" id="contact-form-title">
        <p>
            Gérez ici vos disponibilités en cliquant sur les jours du calendrier :<br/>
        </p>
    </div>
</div>
<div class="row" id="contact-row-form">
    <div class="col-md-6" id="calendarContainer">
        <div id="calendar"></div>
    </div>

</div>

<script>

    $(document).ready(function(){
        createCalendar();
        $.ajaxSetup({
            cache:false
        });
    });

    function createCalendar(initialMonth, initialYear){
        $("#calendar").zabuto_calendar({
            legend: [
                {type: "block", label: "Disponible", classname: "green-legend" },
                {type: "block", label: "Places limitées", classname: "yellow-legend" },
                {type: "block", label: "Complet", classname: "red-legend" },
                {type: "block", label: "Indisponible", classname: "white-legend" }
            ],
            language: "fr",
            cell_border: true,
            year: initialYear,
            month: initialMonth,
            nav_icon: {
                prev: '<i class="fa fa-chevron-circle-left"></i>',
                next: '<i class="fa fa-chevron-circle-right"></i>'
            },
            ajax: {
                url: "date.json"
            },
            action: function () {
                return updateDateFunction(this.id);
            }
        })
    }

    function updateDateFunction(id){
        var date = $("#" + id).data("date");
        console.log(date);
        $.ajax({
            url: "/calendar.php?date="+date
        })
        .done(function( data ) {
            $("#calendar").empty();//Recreate calendar
            var month = parseInt(date.substring(5, 7));
            var year = parseInt(date.substring(0, 4));

            createCalendar(month, year);
            console.log(month);
        }).fail(function() {
            alert( "Veuillez contacter votre webmaster préféré" );
        });

    }

</script>