---
layout: default
---


<div class="row">
    <div class="col-md-12" style="text-align: center">
        <p>Bienvenue sur le service de caméra à distance de Neko. <br>Saisissez le mot de passe fourni pour accéder à la vidéo "live" :<br/><br/></p>
    </div>
</div>
<div class="row" id="globalContainer">
    <form id="passwordForm" style="display: none;text-align: center;" class="offset-md-3 col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" id="password" name="password" placeholder="Mot de passe" value="">
        </div>
        <div class="form-group has-error" id="cpError" style="display: none">
            <p>Le mot de passe saisi est incorrect, merci de vérifier</p>
        </div>
        <input onClick="submitForm()" type="button" value="Accéder" class="btn btn-default">
    </form>
    <div id="videoContainer" style="display: none;">
        <video id=live-video class="video-js vjs-default-skin" controls>
            <source
                    src="https://example.com/index.m3u8"
                    type="application/x-mpegURL">
        </video>
    </div>
</div>

<script>

    $(document).ready(function(){
        setVideoSize()
        var storedPassword = getCookie();
        if (storedPassword != null && storedPassword != "" && storedPassword != "expired") {
            checkPassword(storedPassword)
        } else {
            showPasswordForm();
        }

    });

    function setVideoSize(){
        var containerWidth = document.getElementById("globalContainer").offsetWidth;
        document.getElementById("live-video").setAttribute("width", containerWidth)
        document.getElementById("live-video").setAttribute("height", containerWidth*9/16)
    }

    function submitForm() {
        var password = $("#password").val()
        checkPassword(password)

    }

    function checkPassword(password) {
        getLiveUrl(password, function(url){
            if(url != null) {
                showLiveView(url);
                setCookie(password, 1);
            } else {
                showPasswordForm()
                setCookie("expired", 1);
            }
        })
    }

    function getLiveUrl(password, callback){
        $.ajax({
            type: "POST",
            url: "http://neko-garde-animaux.fr/nekocamera/camera.php",
            data: { password: password },
            success: function( data ) {
                console.log("Result of call "+data);
                if(data != null && data.url != null){
                    callback(data.url)
                } else {
                    callback(null)
                }
            },
            error: function(error) {
                console.log("Error on request "+error);
                callback(null)
            },
            dataType: "json"
        });
    }

    function showLiveView(url) {
        $("#passwordForm").hide();
        $("#videoContainer").show();
        var player = videojs('live-video');
        player.src({
            src: url,
            type: 'application/x-mpegURL'
        });
        player.play();
    }

    function showPasswordForm() {
        $("#passwordForm").show()
        $("#videoContainer").hide()
    }

    function showErrorForm(){

    }

    function getCookie() {
        var name = "password=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(password, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = "password=" + password + ";" + expires + ";path=/";
    }


</script>