---
layout: skeleton
---

<script type="module">
    import Lightbox from '/js/photoswipe-lightbox.esm.min.js';
    const lightbox = new Lightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('/js/photoswipe.esm.min.js')
    });
    lightbox.init();
</script>


<section class="row anim-background-parallax section-parallax section-content section-col-light" id="car-main-cover" style="background-image: url('{{ page.photos | first }}');">
</section>

<section class="row section-col-light">
    <div class="col-md-10 offset-md-1">
        <div>
            <h3 class="shadow-secondary">{{ page.name }}</h3>
        </div>
        
        <div class="row">
            <div class="col-md-6 ">
                {% for property in page.properties %}
                <p class="car-property-container">
                    <span class="car-property-name">{{ property.property }}</span>
                    <span class="car-property-separator"></span>
                    <span class="car-property-value">{{ property.value }}</span><br/>
                </p>
                {% endfor %}
            </div>
            <div class="offset-md-1 col-md-5" id="car-price-container">
                <p>
                    Prix: <strong>{{ page.price }}€</strong><br/>
                    <a href="{% link contact.html %}" class="button button-arrowed button-accented">Plus d'infos</a>
                </p>
            </div>
        </div>

        <div class="row pswp-gallery pswp-gallery--single-column" id="gallery">
            {% for photo in page.photos %}
            <div class="col-md-4 col-6">
                <a href="{{ photo }}"
                    data-pswp-width="2048" 
                    data-pswp-height="2048" 
                    target="_blank">
                    <span class="gallery-photo" style="background-image: url('{{ photo }}');"> </span>
                </a> 
            </div>
            {% endfor %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ page.description | newline_to_br }}
                </p>
            </div>
        </div>

        <a href="{% link contact.html %}" class="button button-arrowed button-accented">Contactez-nous</a>
    </div>

</section>
