---
layout: default
---

<section class="regular-bottom-section" style="background: #2F3537">
<div class="row no-gutters">
    <div class="col-md-5 offset-md-1 post-vertical-line"><h4 class="underlined pre-vertical-line">Contact</h4>
        <form action="https://mailthis.to/florent@douine.fr" id="contactForm" method="POST">
            <div class="row">
                <div class="form-group offset-md-1 col-md-10"><input class="form-control" id="contact-name" name="name"
                                                         placeholder="Nom*"
                                                         required="" type="text"></div>
                <div class="form-group offset-md-1 col-md-10"><input class="form-control" id="contact-email" name="email"
                                                         placeholder="Email*" required="" type="email"></div>
                <div class="form-group offset-md-1 col-md-10"><input class="form-control" id="contact-phone" name="phone"
                                                         placeholder="Téléphone" type="text"></div>
            </div>
            <div class="row">
                <div class="form-group offset-md-1 col-md-10"><textarea class="form-control" id="contact-message" name="message"
                                                            placeholder="Message*" required="" rows="7"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group offset-md-1 col-md-10 text-center"><input class="btn btn-lg btn-inverse btn-big active" id="contact-submit" type="submit"
                                                                     value="Envoyer">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5 post-vertical-line"><h4 class="underlined pre-vertical-line">Coordonnées</h4>
        <p>AP SELECT<br/>47 Rue Florian<br/>69100 VILLEURBANNE<br><br> SIRET: 851 519 280 00016 <br> <br> <a href="tel:‭+33771806578‬">07 71 80 65
            78‬</a>‬<br> <a href="mailto:a.guinet@apselect.fr">a.guinet@apselect.fr</a>‬<br></p>
        <ul id="socialicons">
            <li><a class="fb" href="http://www.facebook.com/AutomobilePassionSelection" target="_blank"> <i
                    class="fa fa-facebook"></i> </a></li>
            <li><a class="twitter" href="https://www.instagram.com/ap.select/" target="_blank"> <i
                    class="fa fa-instagram"></i> </a></li>
        </ul>
    </div>

</div>
</section>

<!--<section class="fulled-right-section regular-bottom-section" style="background: #2F3537">
    <div class="row">
        <div class="offset-md-2 col-md-8 post-vertical-line">
            <h3 class="underlined pre-vertical-line">Contact</h3>
            <form action="https://mailthis.to/florent@douine.fr" method="POST" id="contactForm">
                <div class="row">
                    <div class="form-group col-md-4">
                        <input id="contact-name" type="text" placeholder="Nom*" required name="name" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <input id="contact-email" type="email" placeholder="Email*" required name="email" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <input id="contact-phone" type="text"  placeholder="Téléphone" name="phone" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea id="contact-message" placeholder="Message*" required name="message" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <input id="contact-submit" type="submit" value="Envoyer" class="btn btn-lg btn-inverse btn-big active"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="fulled-right-section regular-bottom-section light-background-section" id="contact">
    <div class="row no-gutters">
        <div class="col-md post-vertical-line">
            <h3 class="underlined pre-vertical-line">Coordonnées</h3>
            <p>
                AP select - Lyon, France<br/>
                SIRET: 851 519 280 00016 <br/>
                <br/>
                <a href="tel:‭+33771806578‬">07 71 80 65 78‬</a>‬<br/>
                <a href="mailto:a.guinet@apselect.fr">a.guinet@apselect.fr</a>‬<br/>
            </p>
            <ul id="socialicons">
                <li><a class="fb" href="http://www.facebook.com/AutomobilePassionSelection" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
                <li> <a class="twitter" href="https://www.instagram.com/ap.select/" target="_blank"> <i class="fa fa-instagram"></i> </a> </li>
            </ul>
        </div>
        <div class="col-md" id="contactIllustration">

        </div>
    </div>
</section>-->

