---
layout: default
---

<section class="light-background-section" id="courtage-presentation">
    <div class="row no-gutters">
        <div class="offset-md-2 col-md-8 pre-vertical-line">
            <h3 class="underlined">Courtage de voiture</h3>
            <p>
                Envie d’un modèle ou d’une configuration particulière ? <br/>
                AP SELECT recherche la voiture de rêves selon vos exigences !<br/><br/>
                Un courtage se déroule en 5 étapes :
            </p>
        </div>
    </div>
    <div class="row no-gutters" id="courtage-steps-container">
        <div class="offset-md-1 col-md-2 courtage-step-element" >
            <span class="post-vertical-line">1</span>
            <p>Premier échange avec définition des critères</p>
        </div>
        <div class="col-md-2 courtage-step-element">
            <span class="post-vertical-line">2</span>
            <p>Sélection et propositions de modèles</p>
        </div>
        <div class="col-md-2 courtage-step-element">
            <span class="post-vertical-line">3</span>
            <p>Visite pour validation technique du véhicule sélectionné</p>
        </div>
        <div class="col-md-2 courtage-step-element">
            <span class="post-vertical-line">4</span>
            <p>Récupération et démarches administratives</p>
        </div>
        <div class="col-md-2 courtage-step-element">
            <span class="post-vertical-line">5</span>
            <p>Préparation esthétique et livraison </p>
        </div>
    </div>
</section>

<section class="fulled-right-section regular-bottom-section light-background-section">
    <div class="row no-gutters">
        <div class="offset-lg-1 col-lg-5 pre-vertical-line post-vertical-line verticalCenterTitle">
            <h4>Les courtages réalisés :</h4>
        </div>

        <div class="col-lg-6">
            <div  id="courtage-main-car">
                <div id="courtage-main-car-overlay">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div id="courtage-car-list">

            </div>
        </div>
    </div>
</section>

<section class="fulled-right-section regular-bottom-section light-background-section" id="courtage-description">
    <div class="row no-gutters">
        <div class="offset-lg-2 col-lg-8 justify-content-md-around">
            <p>
                Être à l’écoute de vos envies et critères est fondamental pour moi, c’est la clé d’une recherche précise et fiable.<br/><br/>
                La sélection et le contrôle du véhicule est drastique afin de répondre à toutes vos exigences.<br/><br/>
                Le véhicule vous est remis préparé esthétiquement avec l’ensemble des documents administratifs.<br/><br/>
                La prestation est clé en mains, la communication transparente.
            </p>
        </div>
    </div>
</section>


<section class="regular-bottom-section light-background-section" id="courtage-contact">
    <div class="row">
        <div class="col-md">
            <a href="#" class="btn btn-lg btn-big active" role="button" aria-pressed="true">Nous contacter</a>
        </div>
    </div>
</section>

<script>

    var cars = [
    {% for car in site.data.cars %}
    {{ car | jsonify}},
    {% endfor %}
    ];

    function displayItem(index) {
        var car = cars[index]
        var mainPhoto = car.photos[0]
        $("#courtage-main-car").css("background-image", "url('/img/cars/"+mainPhoto+"')")
        $($("#courtage-main-car-overlay h5")[0]).html(car.model)
        $($("#courtage-main-car-overlay p")[0]).html(car.description_small)


        $(".courtage-car-selected").removeClass("courtage-car-selected")
        $($(".courtage-car-cell")[index]).addClass("courtage-car-selected")
    }

    function refreshCarList() {
        $("#courtage-car-list").html("")
        for (var i = 0; i < cars.length; i++) {
            var car = cars[i]
            var mainPhoto = car.photos[0]
            var element = "<div class='courtage-car-cell' style='background-image: url(\"/img/cars/"+mainPhoto+"\")'><a href='javascript:displayItem("+i+")'></a></div>"
            $("#courtage-car-list").append(element)
        }
    }

    $(document).ready(function(e){
        refreshCarList()
        displayItem(0)
    })

</script>