---
layout: default
---

<section class="light-background-section" id="courtage-presentation">
    <div class="row">
        <div class="offset-md-2 col-md-8 pre-vertical-line post-vertical-line">
            <h3 class="underlined">Courtage de voiture</h3>
            <p>
                Envie d’un modèle ou d’une configuration particulière, AP SELECT recherche la voiture de rêves selon vos exigences.<br/>
                <br/>
                A l’instar de nos véhicules en ventes, la sélection s’effectue selon des critères précis permettant un achat en toute sérénité<br/>
                <br/>
        </div>
    </div>
</section>

<section class="fulled-right-section regular-bottom-section light-background-section" id="courtage-description">
    <div class="row no-gutters">
        <div class="offset-md-1 col-md-5 pre-vertical-line post-vertical-line">
            <p>
                <br/>
                Nous effectuons en particulier :<br/>
                <br/>
                • Un audit et conseil de vos critères<br/>
                • Une recherche, sélection et proposition de modèles<br/>
                • Une visite du véhicule avec inspection complète et essai<br/>
                • Un contrôle et réalisation des démarches administratives et techniques<br/>
                • Un reportage photos et vidéos<br/>
                <br/>
                <i>Possibilité de livraison a domicile et immatriculation.</i><br/>
                <br/>
            </p>
        </div>
        <div class="col-md-6" id="contactIllustration">

        </div>
    </div>
</section>


<section class="regular-bottom-section light-background-section" id="courtage-contact">
    <div class="row">
        <div class="col-md">
            <a href="#" class="btn btn-lg btn-big active" role="button" aria-pressed="true">Nous contacter</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <img src="{{ site.baseurl }}/img/clefs-peugeot-noires.jpg">
    </div>
</section>