---
layout: default-slider
---

<section class="arrowed-section" id="main-cover">
    <h1>APSelect</h1>
    <h2>Spécialiste Youngtimers</h2>
</section>

<section class="arrowed-section fulled-section">
    <div class="row" id="home_services">
        <div class="col-md-4 home_service">
            <a class="black_filter" href="services.html">
                <h4>Vente de voitures youngtimers</h4>
            </a>
        </div>
        <div class="col-md-4 home_service">
            <a class="black_filter" href="services.html">
                <h4>Chasseur de voitures youngtimers</h4>
            </a>
        </div>
        <div class="col-md-4 home_service">
            <a class="black_filter" href="services.html">
                <h4>Réparations / Prestations</h4>
            </a>
        </div>
    </div>
</section>

<section class="arrowed-section light-background-section">
    <div class="row">
        <div class="col-md-6">
            <h3 class="underlined">Histoire</h3>
            <p>
                APSelect c'est de la tuerie, ça brasse de la thune à plus quoi savoir quoi en foutre !
                APSelect c'est de la tuerie, ça brasse de la thune à plus quoi savoir quoi en foutre !
                APSelect c'est de la tuerie, ça brasse de la thune à plus quoi savoir quoi en foutre !
                APSelect c'est de la tuerie, ça brasse de la thune à plus quoi savoir quoi en foutre !
                <br/><br/>
                <a href="#" class="">Plus d'infos</a>
            </p>
        </div>
        <div class="col-md-6 full-backgrounded"></div>
    </div>
</section>
<section class="arrowed-section" id="map" style="padding-top: 0px; height: 900px; width: 100%">

</section>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmxvZHUiLCJhIjoiY2pxMmNpNGs3MTNnNjQzcHBueTNpYTVlaiJ9.lYesJH0YNlpAXEhUVvZTkg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [4.872800, 45.752399], // starting position [lng, lat]
        zoom: 12 // starting zoom
    });
    map.scrollZoom.disable();
    map.touchZoomRotate.disable();
    map.touchZoomRotate.disableRotation();
    var scale = new mapboxgl.ScaleControl()
    map.addControl(scale);
</script>
