---
layout: default-slider
---

<section class="arrowed-section" id="main-cover">
    <h1>AP SELECT</h1>
    <h2>Youngtimers et vintage cars</h2>
</section>

<section class="arrowed-section fulled-section">
    <div class="row" id="third-split-row">
        <div class="col-md-4 third-split-element" style="background-image: url('/img/original/photo page 2 bloc 1 (1).jpg');">
            <a class="black_filter" href="services.html">
                <h4>Vente de voitures youngtimers</h4>
            </a>
        </div>
        <div class="col-md-4 third-split-element" style="background-image: url('/img/original/photo page 2 bloc 2 (1).jpg');">
            <a class="black_filter" href="services.html">
                <h4>Chasseur de voitures youngtimers</h4>
            </a>
        </div>
        <div class="col-md-4 third-split-element" style="background-image: url('/img/original/photo page 2 bloc 3 (3).jpg');">
            <a class="black_filter" href="services.html">
                <h4>Detailing et personnalisation</h4>
            </a>
        </div>
    </div>
</section>

<section class="arrowed-section light-background-section">
    <div class="row">
        <div class="offset-2 col-md-8">
            <h3 class="underlined">Histoire</h3>
            <p>
                AP select est née d’une passion dévorante pour les automobiles spécifiquement les véhicules vintages, emblématiques ou yougtimers comme on les appelle maintenant. Ceux qui nous ont tous fait frissonner durant notre enfance. Qui petit, ne s’est pas imaginé au volant d’une 205 GTI 1.6,  vibré à l’idée de rouler en Porsche 911 Targa ou encore de conduire une M3 E30. C’est la concrétisation de ce rêve d’enfant que je vous propose aujourd’hui.<br/><br/>
                Une expertise forte pour vous sélectionner la voiture qui fera vibrer vos émotions. Celle que vous recherchez par-dessus tout.<br/><br/>
                Chasseur de youngtimers émérite, vous comprendrez vite pourquoi j’en ai fait ma spécialité. Passionnés de vintages et classic cars, vous êtes au bon endroit !
            </p>
        </div>
    </div>
</section>

<section class="arrowed-section regular-bottom-section light-background-section">
    <div class="row">
        <div class="offset-2 col-md-8">
            <h3 class="underlined">Contact</h3>
            <p>

            </p>
        </div>
    </div>
</section>

