---
layout: default-slider
---

<section id="main-cover">
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div class="main-covers"></div>
    <div id="main-title-section">
        <h2>Achat, Vente et Courtage<br/><span>Sport et Vintage Cars</span></h2>
    </div>
</section>


<section id="services" class=" fulled-section">
    <div class="row no-gutters" id="third-split-row">
        <div class="col-md-4 third-split-element" style="background-image: url('/img/porsche-911-grise.jpg');">
            <a class="black_filter">
                <div class="third-split-content">
                    <h4 class="text-shadowed">VENTE DE VOITURES</h4>
                    <p><br/>AP SELECT vous propose une sélection de véhicules sportifs, vintages et youngtimers triés sur le volet.<br/>
                        Ces véhicules sont choisis pour leur entretien irréprochable et leurs configurations.<br/>
                        <br/>
                        Nous vous garantissons des véhicules :<br/>
                        <br/>
                        • Avec historique limpide<br/>
                        • Contrôlés et révisés<br/>
                        • Vendus avec contrôle technique<br/>
                        • Préparés esthétiquement intérieur / extérieur<br/>
                        <br/>
                        Possibilité de livraison à domicile et immatriculation.<br/>
                        <br/>
                        Nous effectuons également des propositions de rachat de votre véhicule.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-4 third-split-element" style="background-image: url('/img/205-gti-blanche.jpg');">
            <a class="black_filter">
                <div class="third-split-content">
                    <h4 class="text-shadowed">CHASSEUR DE VOITURES</h4>
                    <p><br/>Envie d’un modèle ou d’une configuration particulière, AP SELECT recherche la voiture de vos rêves selon vos exigences.<br/>
                        À l’instar de nos véhicules en vente, la sélection s’effectue selon des critères précis permettant un achat en toute sérénité.<br/>
                        <br/>
                        Nous effectuons en particulier :<br/>
                        <br/>
                        • Audit et conseil de vos critères<br/>
                        • Recherche, sélection et proposition de modèles<br/>
                        • Visite du véhicule avec inspection complète et essai<br/>
                        • Contrôle et réalisation des démarches administratives et techniques<br/>
                        • Reportage photos et vidéos<br/>
                        <br/>
                        Possibilité de livraison à domicile et immatriculation
                        <br/><br/>
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-4 third-split-element" style="background-image: url('/img/Bmw-M3-e36-detailing-car-staging.jpg');">
            <a class="black_filter">
                <div class="third-split-content">
                    <h4 class="text-shadowed">PRÉPARATION ESTHÉTIQUE</h4>
                    <p><br/>AP SELECT propose un service de CAR STAGING (Aide à la vente), préparation cosmétique, photos, annonce, gestion des visites, une solution clé en main pour faciliter la vente de votre véhicule.<br/>
                        <br/>
                        Nous réalisons également des préparations esthétiques et cosmétiques pour protéger et sublimer votre véhicule de sport ou vintage.<br/>
                        Du simple Car Staging au Detailing sur mesure, un savoir-faire professionnel avec des produits haut de gamme.<br/>
                        <br/>
                        • Car staging (aide à la vente)<br/>
                        • Traitements céramiques<br/>
                        • Entretien / restauration cuir<br/>
                        <br/>
                        Tarifs sur devis
                        <br/><br/>
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class=" light-background-section">
    <div class="row no-gutters">
        <div class="offset-md-2 col-md-8">
            <h3 class="underlined pre-vertical-line">Histoire</h3>
            <p class="post-vertical-line">
                AP SELECT est spécialisé dans l’achat, la vente et le courtage de véhicules sportifs, vintages, ou encore youngtimers comme on les appelle maintenant.<br/>
                <br/>
                Plus qu’une entreprise, c’est une passion dévorante des belles mécaniques qui a fait naître Automobile Passion Selection.<br/>
                <br/>
                Qui petit, ne s’est pas imaginé au volant d’une 205 GTI 1.6, n’a pas vibré à l’idée de rouler en Porsche 911 Targa ou encore de conduire une BMW M3 E30 ?<br/>
                <br/>
                C’est la concrétisation de ce rêve d’enfant que nous vous proposons aujourd’hui. Une expertise forte pour vous sélectionner la voiture qui fera vibrer vos émotions. Celle que vous recherchez par-dessus tout.<br/>
                <br/>
                Passionnés de sportives ou vintage cars, vous êtes au bon endroit !<br/>
                <br/>
            </p>
        </div>
    </div>
</section>

<section class="fulled-right-section  regular-bottom-section light-background-section" id="contact">
    <div class="row no-gutters">
        <div class="col-md post-vertical-line">
            <h3 class="underlined pre-vertical-line">Contact</h3>
            <p>
                AP select - Lyon, France<br/>
                SIRET: 85151928000016 <br/>
                <br/>
                <a href="tel:‭+33771806578‬">07 71 80 65 78‬</a>‬<br/>
                <a href="mailto:a.guinet@apselect.fr">a.guinet@apselect.fr</a>‬<br/>
            </p>
            <ul id="socialicons">
                <li><a class="fb" href="http://www.facebook.com/AutomobilePassionSelection" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
                <li> <a class="twitter" href="https://www.instagram.com/ap.select/" target="_blank"> <i class="fa fa-instagram"></i> </a> </li>
            </ul>
        </div>
        <div class="col-md" id="contactIllustration">

        </div>
    </div>
</section>
