---
layout: skeleton
---

<section id="section-banner">
    <div id="section-banner-title">
        {% if page.banner-title %}<h2 class="{% if page.banner-title == "AP SELECT" %}bordered-letters{% endif %} anim-left-apparition">{{ page.banner-title }}</h2>{% endif %}
        {% if page.banner-subtitle %}<h2 class="{% if page.banner-subtitle == "AP SELECT" %}bordered-letters{% endif %} anim-right-apparition">{{ page.banner-subtitle }}</h2>{% endif %}
        {% if page.banner-subline %}<span class="caption anim-fadein-bottom-apparition">{{ page.banner-subline }}</span>{% endif %}
    </div>
    {% if page.banner-image %}
        <div class="cmp-full-width-image anim-bottom-apparition" style="background-image: url('images/{{ page.banner-image }}');"></div>
    {% endif %}
</section>

{{ content }}