---
layout: default-club
---

<section class="light-background-section" id="courtage-presentation">
    <h6>Prévisionnel financier sur 36 mois</h6>
    <div id="chartdiv" style="width: 100%; height: 300px;" ></div>
</section>


<section class="regular-bottom-section light-background-section" id="courtage-contact">

</section>

<!-- amCharts javascript sources -->
<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/black.js"></script>


<!-- amCharts javascript code -->
<script type="text/javascript">
    AmCharts.makeChart("chartdiv",
        {
            "type": "serial",
            "categoryField": "Trimestre",
            "minMarginLeft": 0,
            "plotAreaBorderAlpha": 1,
            "plotAreaBorderColor": "#BBBBBB",
            "plotAreaFillColors": "#F2F2F2",
            "startDuration": 1,
            "startEffect": "easeOutSine",
            "backgroundColor": "#FFFFFF",
            "borderColor": "#2E2E2E",
            "color": "#2E2E2E",
            "decimalSeparator": " ,",
            "processTimeout": -6,
            "theme": "black",
            "categoryAxis": {
                "gridPosition": "start",
                "minorTickLength": -5,
                "title": "Trimestre"
            },
            "trendLines": [],
            "graphs": [
                {
                    "balloonText": "[[category]] : [[value]] €",
                    "columnWidth": 0.63,
                    "cornerRadiusTop": 2,
                    "fillAlphas": 1,
                    "fillColors": "#F2F2F2",
                    "id": "AmGraph-3",
                    "lineAlpha": 1,
                    "lineColor": "#E1E1E1",
                    "lineThickness": 2,
                    "negativeFillAlphas": 0,
                    "title": "graph 3",
                    "type": "column",
                    "valueAxis": "TRESOAXIS",
                    "valueField": "Trésorerie"
                },
                {
                    "balloonText": "[[category]] - [[value]] €",
                    "columnWidth": 0,
                    "id": "AmGraph-4",
                    "lineAlpha": 1,
                    "lineColor": "#C09871",
                    "lineThickness": 3,
                    "title": "graph 4",
                    "valueAxis": "NBAXIS",
                    "valueField": "Nombre de clients"
                }
            ],
            "guides": [],
            "valueAxes": [
                {
                    "id": "NBAXIS",
                    "autoRotateCount": 0,
                    "title": "Membres"
                },
                {
                    "id": "TRESOAXIS",
                    "position": "right",
                    "unit": " €",
                    "usePrefixes": true,
                    "title": "Tresorerie"
                }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider": [
                {
                    "Trimestre": "T1 21",
                    "Nombre de clients": "4",
                    "Trésorerie": "40000"
                },
                {
                    "Trimestre": "T2 21",
                    "Nombre de clients": "5",
                    "Trésorerie": "24500"
                },
                {
                    "Trimestre": "T3 21",
                    "Nombre de clients": "7",
                    "Trésorerie": "23500"
                },
                {
                    "Trimestre": "T4 21",
                    "Nombre de clients": "7",
                    "Trésorerie": "5000"
                },
                {
                    "Trimestre": "T1 22",
                    "Nombre de clients": "9",
                    "Trésorerie": "124000"
                },
                {
                    "Trimestre": "T2 22",
                    "Nombre de clients": "12",
                    "Trésorerie": "151500"
                },
                {
                    "Trimestre": "T3 22",
                    "Nombre de clients": "14",
                    "Trésorerie": "157000"
                },
                {
                    "Trimestre": "T4 22",
                    "Nombre de clients": "14",
                    "Trésorerie": "140500"
                },
                {
                    "Trimestre": "T1 23",
                    "Nombre de clients": "16",
                    "Trésorerie": "382500"
                },
                {
                    "Trimestre": "T2 23",
                    "Nombre de clients": "18",
                    "Trésorerie": "390500"
                },
                {
                    "Trimestre": "T3 23",
                    "Nombre de clients": "20",
                    "Trésorerie": "410000"
                },
                {
                    "Trimestre": "T4 23",
                    "Nombre de clients": "21",
                    "Trésorerie": "413000"
                },
                {
                    "Trimestre": "T1 24",
                    "Nombre de clients": "22",
                    "Trésorerie": "763500"
                }
            ]
        }
    );
</script>