---
layout: default
---

<section id="prestations">
    <img src="/img/img-3.png">
    <a class="tags tooltip" title="Réparations rétroviseurs" href="javascript:;">+</a>
</section>

<section class="fulled-section">
    <div class="row" id="third-split-row">
        <div class="col-md-4 third-split-element" style="background-image: url('/img/Ressources/template-8-5.jpg');">
            <a class="black_filter" href="services.html">
                <h4>Extérieur</h4>
            </a>
        </div>
        <div class="col-md-4 third-split-element" style="background-image: url('/img/Ressources/template-8-6.jpg');">
            <a class="black_filter" href="services.html">
                <h4>Intérieur</h4>
            </a>
        </div>
        <div class="col-md-4 third-split-element" style="background-image: url('/img/Ressources/template-8-7.jpg');">
            <a class="black_filter" href="services.html">
                <h4>Réparations / Prestations</h4>
            </a>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('.tooltip').tooltipster({
            theme: "tooltipster-light",
            trigger: 'click'
        });
    });
</script>