---
layout: default
---

<section class="arrowed-section">
    <img src="{{ '/img/services/pictos-services-1.png' | prepend: site.baseurl }}"/>
    <h4>Pré-visite</h4>
    <h5>"Rencontrons nous afin de faire connaissance."</h5>
    <p>Afin que la garde de votre animal se déroule en toute confiance, je vous propose de nous <u>rencontrer préalablement</u> afin de définir vos attentes et vos souhaits durant votre absence. Cette pré-visite me permettra également de connaître votre animal et de tisser un premier lien avec lui. <br>
        Je pourrai vous proposer un <span style="text-decoration: underline;">
        <u><i>À retenir :</i></u> la pré-visite est totalement <b>GRATUITE</b>.
    </p>
    <h4>Visite à domicile</h4>
    <h5>"Profitez de vos vacances."</h5>

    <p> Voici le déroulement <span style="text-decoration: underline;">d’une visite type</span> : (45min/1h suivant l’animal)</p>
    <ul>
        <li>Promenade de 30 min si il s’agit d’un chien, ou sortie du ou des rongeur(s).</li>
        <li>Distribution de la nourriture</li>
        <li>Nettoyage de la litière et aération de l’environnement de l’animal</li>
        <li>Jeux et câlins (le plus important !)</li>
        <li>Soins éventuels à réaliser : brossage, soins des yeux et des oreilles, administration de médicaments...</li>
    </ul>
    <h4>Les petits plus...</h4>
    <h5>"... qui font toujours plaisir !"</h5>
    <p>Avant votre retour, je donne toujours un <u>coup de propre</u> à votre chez-vous afin d’éviter litière, traces de pattes, gamelles à laver… SI vous le souhaitez, je peux également <u>ramasser votre courrier</u> et <u>arroser vos plantes.</u><br/>
        <br/>
        Après chacune de mes visites, <u>vous recevrez un SMS</u> ou un mail de nouvelles, vous assurant du bon déroulement de la garde. J’essaie également de joindre de temps en temps ><u>une photo</u>ou une vidéo des aventures de votre compagnon.
    </p>

    <h4>Installation d’une caméra sécurisée</h4>
    <h5>« Pour se rassurer. »</h5>
    <p>
        Je propose la location et l’installation à votre domicile d’une <u>caméra connectée intelligente.</u><br/>
        (nécessite une connexion Wi-Fi)<br/>
        Placée dans un endroit stratégique de votre maison, elle a deux buts principaux :
    </p>
    <ul>
        <li><u>observer</u> discrètement les petites habitudes de votre animal lorsque vous n’êtes pas là, et éventuellement vous tranquilliser dans le cas d’un animal âgé ou malade.</li>
        <li><u>sécuriser</u> votre maison/appartement : la caméra Welcome est à reconnaissance faciale. Elle enregistre les visages connus et signale toute intrusion dans votre domicile.</li>
    </ul>
    <p>
        Une fois la caméra installée, vous avez accès à la <u>vidéo en direct « live » 24h/24</u> via un lien internet sécurisé. Je possède également un accès sur smartphone et suis notifiée du moindre problème à votre domicile.<br/>
        <br/>

    </p>
</section>