---
layout: default
---



<div class="row" id="whoami-row">


    {% assign peoples = site.data.whoami %}
    {% for people in peoples %}


    <div class="col-md-4 vertical-box whoami-box">
        <div class="vertical-content">
            <img width="160" height="160" src="{{ site.baseurl }}/img/whoami/{{ people.image }}" alt="" title=""/>

            <h5> {{ people.title }} </h5>

            <h6><i class="fa fa-user"></i> {{ people.subtitle }}</h6>

            <p align="justify">{{ people.description }}</p>
        </div>
    </div>
    {% endfor %}

</div>